.header {

    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1064px;
    width: 100%;
    margin: 0 auto;
    padding: 24px 20px;


}

.nav a {
    color: #8257e5;
}

.content {
    max-width: 776px;
    width: 100%;
    margin: 0 auto;
    padding: 24px 20px;
}

.content h2 {
    margin-bottom: 20px;
}

.content p {
    margin: 20px 0;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1064px;
    width: 100%;
    margin: 0 auto;

    padding: 24px 20px;
}

.footer button {
    padding: 1rem 2rem;
    background: #202024;
    border-radius: 5px;

    color: #996dff;
    font-size: 1rem;
    cursor: pointer;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    /* ajusta o modal no centro da tela */
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 120px;
    color: #333;
    border-radius: 5px;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    /* reseta o top bottom left e right com inset */
    inset: 0;
}

.closeModal {
    width: 100%;
    padding: 12px 20px;
    margin-top: 16px;
    border-radius: 5px;
    background: #8257e5;
    color: #fff;
    font-size: 18px;
    font-weight: bold;

}